/* TurboGears flash bootstrap look */
#flash > div {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #c09853;
}

#flash > .ok {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#flash > .error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

#flash > .info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Footer styling */
.footer {
    margin-top: 45px;
    padding: 35px 30px 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}

/* h1 {
  text-align: center
}

h2 {
  text-align: center
}

p {
  text-align: center
}

input {
  text-align: center
} */

.centered {
  text-align: center;
}

.delete-from-group {
  color: #d9534f;
}

.delete-from-group:hover {
  color: #af0c07;
  cursor: pointer;
  text-decoration: none;
}

.group-check-box {
  font-size: 2em;
  margin-top: 5px;
}

.group-check-box.incomplete {
  color: #eee;
}

.group-check-box.complete {
  color: #5cb85c;
}
